<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dougkeen.bart"
    android:versionCode="17"
    android:versionName="1.2.4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="RoutesListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/com.dougkeen.bart.favorite" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.dougkeen.bart.favorite" />
            </intent-filter>
        </activity>
        <activity
            android:name="AddRouteActivity"
            android:label="@string/add_route"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/com.dougkeen.bart.favorite" />
            </intent-filter>
        </activity>
        <activity
            android:name="QuickRouteActivity"
            android:label="@string/quick_departure_lookup"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/com.dougkeen.bart.arbitraryroute" />
            </intent-filter>
        </activity>
        <activity
            android:name="ViewDeparturesActivity"
            android:label="@string/departures" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/com.dougkeen.bart.favorite" />
                <data android:mimeType="vnd.android.cursor.item/com.dougkeen.bart.arbitraryroute" />
            </intent-filter>
        </activity>
        <activity
            android:name="ViewMapActivity"
            android:label="@string/system_map" >
        </activity>

        <provider
            android:name=".data.BartContentProvider"
            android:authorities="com.dougkeen.bart.dataprovider"
            android:label="BartRunner data provider" />
    </application>

</manifest>